<%= simple_form_for @collection do |f| %>
  <%= f.input :name, required: true, input_html: { class: 'text_input', maxlength: 30 } %>
  <%= f.input :theme, required: true, input_html: { class: 'text_input',  maxlength: 15 } %>
  <%= f.hidden_field :user_id, value: 1 %>
  <div class="buttons">
    <%= f.button :submit, 'Criar Coleção', :class => "button_form"%>
    <%= link_to 'Cancelar', collections_path, :class => "button_back"%>
  </div>
<% end %>

