<div class="box">
  <div class="center">     
    <h2 class="page-title"> Escolha uma Sala: </h2>
    
    <div class="form_container">
      <div class="btn_container">
        <%= simple_form_for @room do |f| %>
          <%= f.input :name, required: true, input_html: { class: 'text_input' } %>
          <%= f.input :collection_id, collection: Collection.all , input_html: { class: 'text_input' } %>
          <%= f.hidden_field :user_id, required: true, value: User.last.id %>
          <%= f.button :submit, 'JOGAR', class: "btn btn--link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer> Made with  ♥  (and hurry) by Aline Ramos </footer>