<%= form_with(model: face, local: true) do |form| %>
  <% if face.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(face.errors.count, "error") %> prohibited this face from being saved:</h2>

      <ul>
      <% face.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :face_name %>
  </div>

  <div class="field">
    <%= form.label :collection_id %>
    <%= form.text_field :collection_id, id: :face_collection_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
