<h1 class="page-title"> Faces </h1>
<h3 id="notice"><%= notice %></h3>
  <div class="btn_container">
    <%= link_to 'Criar Face', new_face_path, class: "btn btn--link" %>
  </div>

<div class="table_container">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Imagem</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @faces.each do |face| %>
        <tr>
          <td><%= face.name %></td>
          <td><%= face.image %></td>
          <td><%= link_to '✎', edit_face_path(face), class: 'btn btn--discrete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
